---
---

@import "{{ site.theme }}";

header {
  border-bottom: 1px dashed #cbcbcb;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 0 0 0;
  padding: 20px 0rem 0rem 0rem;
  width: 100%;
  margin: 0 auto;
}

body {
  color: #fff7f3;
  background: #00312b;
  font-size: 20px;
  letter-spacing: -0.02em;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

header h2 {
  color: #cbcbcb;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

.main-nav {
  flex: 0 1 auto;
  background: rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
  align-self: flex-start;
  height: 100vh;
  border-right: 1px dashed #cbcbcb;
  border-bottom: 1px dashed #cbcbcb;
  overflow-y: auto;
  min-width: min-content;
}

.main-nav ul {
  list-style: none;
  font-weight: bolder;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 18px;
  color: #cbcbcb;
}

.main-nav ul ul {
  font-size: 15px;
}

.main-nav ul li {
  list-style-image: none;
}

.main-nav li a {
  display: block;
  padding: 0.75rem 3rem 0.75rem 0rem;
  color: inherit;
  text-decoration: none;
  text-shadow: none;
  transition: background 0.2s;
}

.main-nav li a:hover {
  text-shadow: 0 0 10px #b5e853;
}

#main_content h1 {
  font-size: 37px;
}

#main_content h2 {
  font-size: 31px;
}

#main_content h3 {
  font-size: 25px;
}

#main_content h4 {
  font-size: 21px;
}

#main_content h5 {
  font-size: 19px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 19px;
  text-transform: uppercase;
  color: #cbcbcb;
  margin: 0 0 5px 0;
}

#main_content section img {
  width: 100vw;
  height: auto;
}

.wrapper .container {
  flex: 1 4 auto;
  width: 60%;
  padding: 2rem 3rem 3rem 3rem;
}

body .container {
  width: 100%;
  max-width: 100%;
  margin: inherit;
}

header .container {
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  font-family: Helvetica, Arial, sans-serif;
}

pre {
  background: rgba(0, 0, 0, 0.3);
  overflow-x: auto;
}

.collapsible-code {
  padding-bottom: 1.0rem; 
}

.collapsible-code pre {
  display: none;
  margin: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #cbcbcb;
}

.collapsible-code button {
  color: #cbcbcb;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #838383;
  border-radius: 4px;
  padding: 4px 8px;
  font-family: inherit;
  cursor: pointer;
}

.collapsible-code button::after {
  content: " ▶";
}

.collapsible-code button.expanded {
  color: rgb(0, 0, 0);
  background: #cbcbcb;
}

.collapsible-code button.expanded::after {
  content: " ▼";
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper .container {
    width: 85%;
  }
  .main-nav {
    width: 100vw;
    position: static;
    height: fit-content;
  }
}
